<!-- Main -->
<!-- ############################################ -->
{{>_navigation
    type="user"
    section="things"
    breadcrumbs='[ { "Home":"/user/dashboard" }, { "Things":"../../things" }, { "Edit":"" } ]'
}}
<div class="card">
  <div class="card-body">
    <div class="card-title pb-2">
      <span class="section-title">Edit Thing</span>
    </div>
    {{#if errors}}
      <div class="alert alert-danger">
        The form has errors
        <ul>
          {{#errors}}
            <li>{{msg}}</li>
          {{/errors}}
        </ul>
      </div>
    {{/if}}
    <form id="form-edit-thing" method="post" action="../{{thing.thing_id}}?_method=PUT">
      <div class="mb-3">
        <label for="input-name" class="form-label">Name</label>
        <input id="input-name" name="name" class="form-control" type="text" value="{{thing.name}}">
      </div>
      <div class="mb-3">
        <label for="input-description" class="form-label">Description</label>
        <textarea id="input-description" class="form-control" name="description" rows="3">{{thing.description}}</textarea>
      </div>
      <div class="mb-3">
        <label for="input-type" class="form-label">Type</label>
        <select id="input-type" name="type" class="form-control">
          <option value="LITE" {{#is thing.type "LITE"}}selected{{/is}}>Lite</option>
          <option value="STANDARD" {{#is thing.type "STANDARD"}}selected{{/is}}>Standard</option>
          <option value="EXTENDED" {{#is thing.type "EXTENDED"}}selected{{/is}}>Extended</option>
        </select>
      </div>
    </form>
    <div class="mb-3">
      <div class="btn-toolbar float-start">
        <button type="submit" form="form-edit-thing" class="btn btn-primary mb-1 me-1">Update Thing</button>
        <a href="../../things" class="btn btn-outline-secondary mb-1 me-1">Cancel</a>
      </div>
      <form method="post" action="../{{thing.thing_id}}?_method=DELETE" class="float-md-end mb-1">
        <button type="submit" class="btn btn-outline-danger">Delete Thing</button>
      </form>
    </div>
  </div>
</div>

<!-- Scripts -->
<!-- ############################################ -->
<script type="text/javascript">
  // Example page script
  document.querySelector('#input-description').addEventListener('change', (event) => {
    console.log('description changed');
  });
</script>